{% load static %}
<div id="about-wrapper">
    <div class="section-title text-center center">
        <div class="overlay">
            <h2 class="about-title">About Us</h2>
        </div>
    </div>

    <div class="about">
        <div class="container-fluid cxt-padded bg-faded">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 ">
                        <div class="about-img"><img style="width: 500px; height: 330px;"
                                                    src="{% static 'imgs/about_img.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h2>Our Purpose</h2>
                        <hr>
                        <p style="font-size: 20px">Hello and welcome to our website! </p>
                        <p style="font-size: 20px">We are ChefItUp, an independent student-led project that
                            wants to bring home cooking to your doorstep. We are all passionate about the benefits of
                            home cooking and being environmentally conscious and our services will help you to make the
                            most of the ingredients you already have, and to naturally purchase less groceries. Better
                            for you, better for the planet!</p>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>